@charset"utf-8";

/*---------------------------------
Color Setting
---------------------------------*/
$color_primary:#0D0D0D;
$color_main:#F1E85B;
$color_sub: #E7F294;
$color_accent: #3B94FD;
$colorTx_common:#0D0D0D;
$colorTx_wh:#fff;
$colorTx_attention: #FF5151;


/*---------------------------------
Font
---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
// @import url('https: //use.fontawesome.com/releases/v6.5.2/css/all.css');

/*---------------------------------
 Responsive
---------------------------------*/
$breakpointsPC: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
) !default;
$breakpointsSP: (
  'sm': 'screen and (min-width: 479px)',
  'smL': '(orientation: landscape) and (min-width: 479px)',
  'md': 'screen and (min-width: 767px)',
  'mdL': '(orientation: landscape) and (min-width: 767px)',
  'lg': 'screen and (min-width: 1023px)',
) !default;

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpointsPC, $breakpoint)} {
    @content;
  }
}
  @mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpointsSP, $breakpoint)} {
      @content;
  }
}

/*---------------------------------
 ボタンデザイン
 ---------------------------------*/

/*===ボタン基本設定===*/
 .btn {
   overflow: hidden;
   position: relative;
   font-size: 18px;
   font-weight: 600;
   letter-spacing: 0.1em;
   padding: 16px 56px;
   border-radius: 100vh;
   display: inline-block;
   min-width: 314px;
   cursor: pointer;
   user-select: none;
   transition: all 0.2s;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   span {
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq-down{
      font-size: 1.2rem;
    }
   }
   @include mq-down {
     padding: 24px 56px;
     width: 100%;
     max-width: 90vw;
     font-weight: 700;
   }
//  ホバー時
  &:before {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150%;
    height: 600%;
    content: '';
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
    transform: translateX(-150%) translateY(-40%) rotate(135deg);
  }
  &:hover:before {
    -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
    transform: translateX(-23%) translateY(-40%) rotate(135deg);
  }
 }

 .position-fa-left {
   position: absolute;
   top: calc(50% - .5em);
   right: -30px;
   @include mq-down {
     right: -40px;
   }
 }


/*===黒ボタン===*/
 .btn__Bk{
  background-color: $color_primary;
  color: $colorTx_wh;
//  ホバー時
  &:hover{
    color: $colorTx_common;
  }
  &:before{
    background: $color_main;
  }
 }


/*===白ボタン===*/
.btn__Wh {
  background-color: #fff;
  color: $colorTx_common;
  border: solid 2px $color_primary;
  //  ホバー時
  &:hover {
    color: $colorTx_wh;
  }
  &:before {
    background: $color_primary;
  }
}

/*===青ボタン===*/
.btn__Blue {
  background-color: $color_accent;
  color: $colorTx_wh;
  //  ホバー時
  &:hover {
    color: $colorTx_wh;
  }
  &:before {
    background: $color_primary;
  }
}

/*===外部リンクボタン===*/
.btn__OBL {
  background-color: #F2F2F2;
  color: $colorTx_common;
  border: solid 2px $color_primary;
  border-radius: 0;
  width: 100%;
  span {
      padding-right: 2px;
    }
  //  ホバー時
  &:hover {
    color: $colorTx_wh;
  }
  &:before {
    background: $color_primary;
  }
    .position-fa-left{
      @include mq-down {
          right: -34px;
        }
    }
}
 .fa-position-right {
   position: absolute;
   font-size: 20px;
   top: calc(50% - .5em);
   left: 20px;

   @include mq-down {
     left: 2rem;
   }
 }
 .instBtn{
  max-width: 314px;
  @include mq-down{
    max-width: 100%;
  }
 }


//  スマホ_フッターお問い合わせボタン
.btn__contact {
  background-color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 46px;
  color: $color_primary;
  border-radius: 100vh;
  border: solid 2px $color_primary;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.1em;
  @include mq-down{
    font-size: 20px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}

/*---------------------------------
 カードパーツ
 ---------------------------------*/
.__card{
  background-color: $color_main;
  border-radius: 40px;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, .2);
  &:hover {
      box-shadow: 0px 0px 25px rgb(242 199 120);
  }
}

/*---------------------------------
 CTAボタン周り
 ---------------------------------*/
.ctaArea {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  @include mq-down{
    padding: 56px 0;
  }

  .contents {
    width: 100%;
    max-width: 1200px;
    line-height: 1.5rem;

    p {
      line-height: 2rem;
      @include mq-down{
        padding: 48px 24px 40px;
        text-align: left;
      }
    }
  }

  .ctaBtn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 56px 0 32px;
    column-gap: 64px;
    @include mq-down{
      padding: 0 0 40px;
    }
    a{
      @include mq-down {
          &:nth-child(2) {
            display: none;
          }
        }
    }
  }
}

/*---------------------------------
 配下ページタイトル イラストあり
 ---------------------------------*/

.pageImg {
  background-color: $color_main;
  padding-top: 72px;

  @include mq-down {
    width: 100%;
    padding: 90px 24px 24px;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: right;

    @include mq-down {
      max-width: 90vw;
      background-size: contain;
      background-position-y: 80%;
      padding: 30px 0;
      flex-direction: column;
    }

    img {
      max-height: 230px;
      padding-left: 48px;

      @include mq-down {
        width: 100%;
        max-width: 240px;
        max-height: 240px;
        padding: 24px 0;
      }
    }

    h2 {
      margin-bottom: 0;
    }
  }
}

/*===実績ページ===*/
.workPageImg {
  background-color: $color_sub;

}



/*---------------------------------
 配下ページタイトル イラストなし
 ---------------------------------*/

.pageNoImg {
  padding-top: 72px;

  @include mq-down {
    width: 100%;
    padding: 80px 24px 0px;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    height: 176px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq-down {
      max-width: 90vw;
      height: 104px;
      padding: 30px 0;
      flex-direction: column;
    }

    h2 {
      margin-bottom: 0;
    }
  }
}