@charset"utf-8";
@import "./module/_default";

/* ============================================ */

/*---------------------------------
 レイアウト
 ---------------------------------*/
//  非公開実績
.is-style-privateworks-columns{
    padding: 80px 0;
    margin: 0;
    @include mq-down {
        padding-top: 56px;
        flex-direction: column-reverse;
        gap: 0;
    }
}

.wp-block-column.is-style-privateworks-right-column {
    @include mq-down {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column-reverse;
    }
    .is-style-privateworks-url {
        padding: 8px 0 16px;
        @include mq-down{
            padding: 16px 0;
            text-align: center;
        }
    }
    .wp-block-buttons {
        @include mq-down{
            order: 1;
            text-align: center;
            padding-bottom: 0;
        }
    }
}

.is-style-group-caption{
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom:24px;
    padding: 24px;
    row-gap: 16px;
    @include mq-down{
        margin: 16px 0 0px;
    }
    dt {
        width: calc(40%);
        margin-right: 16px;
        border-right: solid 1px $color_main;
    }
    
    dd {
        width: calc(60% - 16px);
    }

    .detail {
        display: block;
        dd {
            margin-left: 16px;
            width: 100%;
            display: list-item;
            list-style-type: disc;
        }
    }     
}

.is-style-detailedTx-paragraph {
    line-height: 2rem;
}

//  公開実績
.is-style-works-group{
    padding-bottom: 144px;
    margin: 0;
    
    @include mq-down {
        padding-top: 0;
        flex-direction: column-reverse;
        gap: 0;
    }
}


/* 各要素 */
@import "./editor/_button";
@import "./editor/_slick-slider";