@charset "UTF-8";
/*---------------------------------
Color Setting
---------------------------------*/
/*---------------------------------
Font
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
/*---------------------------------
 Responsive
---------------------------------*/
/*---------------------------------
 ボタンデザイン
 ---------------------------------*/
/*===ボタン基本設定===*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
.btn {
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 16px 56px;
  border-radius: 100vh;
  display: inline-block;
  min-width: 314px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.btn span {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn span:after {
  position: absolute;
  top: calc(50% - 0.45em);
  right: -20px;
  font: var(--fa-font-solid);
  content: "\f0da";
}
@media screen and (max-width: 768px) {
  .btn span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 24px 56px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}
.btn:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 600%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
          transform: translateX(-150%) translateY(-40%) rotate(135deg);
}
.btn:hover:before {
  -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
          transform: translateX(-23%) translateY(-40%) rotate(135deg);
}

/*===黒ボタン===*/
.btn__Bk {
  background-color: #0D0D0D;
  color: #fff;
}
.btn__Bk:hover {
  color: #0D0D0D;
}
.btn__Bk:before {
  background: #F1E85B;
}

.btn__Blue {
  background-color: #3B94FD;
  color: #fff;
}
.btn__Blue:hover {
  color: #fff;
}
.btn__Blue:before {
  background: #0D0D0D;
}

.btn__contact {
  background-color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 46px;
  color: #0D0D0D;
  border-radius: 100vh;
  border: solid 2px #0D0D0D;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .btn__contact {
    font-size: 20px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}

/*---------------------------------
 カードパーツ
 ---------------------------------*/
.__card {
  background-color: #F1E85B;
  border-radius: 40px;
  -webkit-box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
}
.__card:hover {
  -webkit-box-shadow: 0px 0px 25px rgb(242, 199, 120);
          box-shadow: 0px 0px 25px rgb(242, 199, 120);
}

/*---------------------------------
 CTAボタン周り
 ---------------------------------*/
/*色設定、ブレイクポイント設定*/
/* ============================================ */
*, *:before, *:after {
  float: none;
  position: static;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  background-color: #F2F2F2;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

/* ============================================ */
h1, h2, h3, p, li {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #0D0D0D;
  letter-spacing: 0.5rem;
}

/* ============================================ */
h1, h2 {
  font-size: 34px;
  line-height: 1.2rem;
  margin-bottom: 52px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 28px;
  }
}

/* ============================================ */
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1rem;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  h3 {
    line-height: 2rem;
  }
}

/* ============================================ */
p, li, span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 768px) {
  p, li, span {
    font-size: 16px;
  }
}

/* ============================================ */
/* ============================================ */
dl, dd {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

/* ============================================ */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ============================================ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* ============================================ */
/*---------------------------------
 レイアウト
 ---------------------------------*/
.is-style-privateworks-columns {
  padding: 80px 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .is-style-privateworks-columns {
    padding-top: 56px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .wp-block-column.is-style-privateworks-right-column {
    margin-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.wp-block-column.is-style-privateworks-right-column .is-style-privateworks-url {
  padding: 8px 0 16px;
}
@media screen and (max-width: 768px) {
  .wp-block-column.is-style-privateworks-right-column .is-style-privateworks-url {
    padding: 16px 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .wp-block-column.is-style-privateworks-right-column .wp-block-buttons {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    padding-bottom: 0;
  }
}

.is-style-group-caption {
  background-color: #fff;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 24px;
  row-gap: 16px;
}
@media screen and (max-width: 768px) {
  .is-style-group-caption {
    margin: 16px 0 0px;
  }
}
.is-style-group-caption dt {
  width: 40%;
  margin-right: 16px;
  border-right: solid 1px #F1E85B;
}
.is-style-group-caption dd {
  width: calc(60% - 16px);
}
.is-style-group-caption .detail {
  display: block;
}
.is-style-group-caption .detail dd {
  margin-left: 16px;
  width: 100%;
  display: list-item;
  list-style-type: disc;
}

.is-style-detailedTx-paragraph {
  line-height: 2rem;
}

.is-style-works-group {
  padding-bottom: 144px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .is-style-works-group {
    padding-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0;
  }
}

/* 各要素 */
/*---------------------------------
Color Setting
---------------------------------*/
/*---------------------------------
Font
---------------------------------*/
/*---------------------------------
 Responsive
---------------------------------*/
/*---------------------------------
 ボタンデザイン
 ---------------------------------*/
/*===ボタン基本設定===*/
.btn {
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 16px 56px;
  border-radius: 100vh;
  display: inline-block;
  min-width: 314px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.btn span {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn span:after {
  position: absolute;
  top: calc(50% - 0.45em);
  right: -20px;
  font: var(--fa-font-solid);
  content: "\f0da";
}
@media screen and (max-width: 768px) {
  .btn span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 24px 56px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}
.btn:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 600%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
          transform: translateX(-150%) translateY(-40%) rotate(135deg);
}
.btn:hover:before {
  -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
          transform: translateX(-23%) translateY(-40%) rotate(135deg);
}

/*===黒ボタン===*/
.btn__Bk {
  background-color: #0D0D0D;
  color: #fff;
}
.btn__Bk:hover {
  color: #0D0D0D;
}
.btn__Bk:before {
  background: #F1E85B;
}

.btn__Blue {
  background-color: #3B94FD;
  color: #fff;
}
.btn__Blue:hover {
  color: #fff;
}
.btn__Blue:before {
  background: #0D0D0D;
}

.btn__contact {
  background-color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 46px;
  color: #0D0D0D;
  border-radius: 100vh;
  border: solid 2px #0D0D0D;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .btn__contact {
    font-size: 20px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}

/*---------------------------------
 カードパーツ
 ---------------------------------*/
.__card {
  background-color: #F1E85B;
  border-radius: 40px;
  -webkit-box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
}
.__card:hover {
  -webkit-box-shadow: 0px 0px 25px rgb(242, 199, 120);
          box-shadow: 0px 0px 25px rgb(242, 199, 120);
}

/*---------------------------------
 CTAボタン周り
 ---------------------------------*/
/*色設定、ブレイクポイント設定*/
/* ============================================ */
*, *:before, *:after {
  float: none;
  position: static;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  background-color: #F2F2F2;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

/* ============================================ */
h1, h2, h3, p, li {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #0D0D0D;
  letter-spacing: 0.5rem;
}

/* ============================================ */
h1, h2 {
  font-size: 34px;
  line-height: 1.2rem;
  margin-bottom: 52px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 28px;
  }
}

/* ============================================ */
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1rem;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  h3 {
    line-height: 2rem;
  }
}

/* ============================================ */
p, li, span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 768px) {
  p, li, span {
    font-size: 16px;
  }
}

/* ============================================ */
/* ============================================ */
dl, dd {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

/* ============================================ */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ============================================ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* ============================================ */
/*---------------------------------
 ボタン
---------------------------------*/
/*===前のページに戻るボタン===*/
@media screen and (max-width: 768px) {
  .is-style-return-btn {
    width: 100%;
  }
}
.is-style-return-btn .wp-block-button__link {
  background-color: #0D0D0D;
  color: #fff;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 16px 56px;
  border-radius: 100vh;
  display: inline-block;
  min-width: 314px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .is-style-return-btn .wp-block-button__link {
    padding: 24px 56px;
    width: 100%;
    min-width: auto;
    font-weight: 700;
  }
}
.is-style-return-btn .wp-block-button__link span {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is-style-return-btn .wp-block-button__link span:after {
  position: absolute;
  top: calc(50% - 0.45em);
  right: -20px;
  font: var(--fa-font-solid);
  content: "\f0da";
}
@media screen and (max-width: 768px) {
  .is-style-return-btn .wp-block-button__link span {
    font-size: 1.2rem;
  }
}
.is-style-return-btn .wp-block-button__link:before {
  background: #F1E85B;
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 600%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
          transform: translateX(-150%) translateY(-40%) rotate(135deg);
}
.is-style-return-btn .wp-block-button__link:hover span {
  color: #0D0D0D;
}
.is-style-return-btn .wp-block-button__link:hover:before {
  -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
          transform: translateX(-23%) translateY(-40%) rotate(135deg);
}

/*===コンタクトボタン===*/
@media screen and (max-width: 768px) {
  .is-style-contact-btn {
    width: 100%;
  }
}
.is-style-contact-btn .wp-block-button__link {
  background-color: #3B94FD;
  color: #fff;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 16px 56px;
  border-radius: 100vh;
  display: inline-block;
  min-width: 314px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .is-style-contact-btn .wp-block-button__link {
    display: none;
    width: 100%;
    min-width: auto;
  }
}
.is-style-contact-btn .wp-block-button__link span {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is-style-contact-btn .wp-block-button__link span:after {
  position: absolute;
  top: calc(50% - 0.45em);
  right: -20px;
  font: var(--fa-font-solid);
  content: "\f0da";
}
@media screen and (max-width: 768px) {
  .is-style-contact-btn .wp-block-button__link span {
    font-size: 1.2rem;
  }
}
.is-style-contact-btn .wp-block-button__link:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 600%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
          transform: translateX(-150%) translateY(-40%) rotate(135deg);
}
.is-style-contact-btn .wp-block-button__link:hover:before {
  -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
          transform: translateX(-23%) translateY(-40%) rotate(135deg);
}
.is-style-contact-btn .wp-block-button__link:hover {
  color: #fff;
}
.is-style-contact-btn .wp-block-button__link:before {
  background: #0D0D0D;
}

/*===外部リンクボタン===*/
@media screen and (max-width: 768px) {
  .is-style-obl-btn {
    width: 100%;
  }
}
.is-style-obl-btn .wp-block-button__link {
  background-color: #F2F2F2;
  color: #0D0D0D;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 16px 56px;
  border: solid 2px #0D0D0D;
  border-radius: 0;
  display: inline-block;
  width: 100%;
  min-width: 314px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .is-style-obl-btn .wp-block-button__link {
    padding: 24px 56px;
    min-width: calc(100% - 48px);
    font-weight: 700;
  }
}
.is-style-obl-btn .wp-block-button__link span {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is-style-obl-btn .wp-block-button__link span:after {
  position: absolute;
  top: calc(50% - 0.45em);
  right: -20px;
  font: var(--fa-font-solid);
  content: "\f08e";
}
@media screen and (max-width: 768px) {
  .is-style-obl-btn .wp-block-button__link span {
    font-size: 1.2rem;
  }
}
.is-style-obl-btn .wp-block-button__link:before {
  background: #0D0D0D;
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 600%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
          transform: translateX(-150%) translateY(-40%) rotate(135deg);
}
.is-style-obl-btn .wp-block-button__link:hover span {
  color: #fff;
}
.is-style-obl-btn .wp-block-button__link:hover:before {
  -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
          transform: translateX(-23%) translateY(-40%) rotate(135deg);
}

.wp-block-buttons.is-style-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 56px 0 32px;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}
@media screen and (max-width: 768px) {
  .wp-block-buttons.is-style-btn-box {
    display: block;
    padding-bottom: 40px;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    row-gap: 24px;
  }
}

.wp-block-buttons.is-style-btn3-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 40px 0 32px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}
@media screen and (max-width: 768px) {
  .wp-block-buttons.is-style-btn3-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
    row-gap: 24px;
  }
}

/*---------------------------------
Color Setting
---------------------------------*/
/*---------------------------------
Font
---------------------------------*/
/*---------------------------------
 Responsive
---------------------------------*/
/*---------------------------------
 ボタンデザイン
 ---------------------------------*/
/*===ボタン基本設定===*/
.btn {
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 16px 56px;
  border-radius: 100vh;
  display: inline-block;
  min-width: 314px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
.btn span {
  position: relative;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn span:after {
  position: absolute;
  top: calc(50% - 0.45em);
  right: -20px;
  font: var(--fa-font-solid);
  content: "\f0da";
}
@media screen and (max-width: 768px) {
  .btn span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 24px 56px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}
.btn:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 600%;
  content: "";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateX(-150%) translateY(-40%) rotate(135deg);
          transform: translateX(-150%) translateY(-40%) rotate(135deg);
}
.btn:hover:before {
  -webkit-transform: translateX(-23%) translateY(-40%) rotate(135deg);
          transform: translateX(-23%) translateY(-40%) rotate(135deg);
}

/*===黒ボタン===*/
.btn__Bk {
  background-color: #0D0D0D;
  color: #fff;
}
.btn__Bk:hover {
  color: #0D0D0D;
}
.btn__Bk:before {
  background: #F1E85B;
}

.btn__Blue {
  background-color: #3B94FD;
  color: #fff;
}
.btn__Blue:hover {
  color: #fff;
}
.btn__Blue:before {
  background: #0D0D0D;
}

.btn__contact {
  background-color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 46px;
  color: #0D0D0D;
  border-radius: 100vh;
  border: solid 2px #0D0D0D;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .btn__contact {
    font-size: 20px;
    width: 100%;
    max-width: 90vw;
    font-weight: 700;
  }
}

/*---------------------------------
 カードパーツ
 ---------------------------------*/
.__card {
  background-color: #F1E85B;
  border-radius: 40px;
  -webkit-box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
}
.__card:hover {
  -webkit-box-shadow: 0px 0px 25px rgb(242, 199, 120);
          box-shadow: 0px 0px 25px rgb(242, 199, 120);
}

/*---------------------------------
 CTAボタン周り
 ---------------------------------*/
/*色設定、ブレイクポイント設定*/
/* ============================================ */
*, *:before, *:after {
  float: none;
  position: static;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

body {
  background-color: #F2F2F2;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

/* ============================================ */
h1, h2, h3, p, li {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #0D0D0D;
  letter-spacing: 0.5rem;
}

/* ============================================ */
h1, h2 {
  font-size: 34px;
  line-height: 1.2rem;
  margin-bottom: 52px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 28px;
  }
}

/* ============================================ */
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1rem;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  h3 {
    line-height: 2rem;
  }
}

/* ============================================ */
p, li, span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 768px) {
  p, li, span {
    font-size: 16px;
  }
}

/* ============================================ */
/* ============================================ */
dl, dd {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

/* ============================================ */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ============================================ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* ============================================ */
/*---------------------------------
 スライダー
---------------------------------*/
.is-style-pen0works-slick .slick-num {
  display: inline-block;
  padding: 2px 8px;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
}
.is-style-pen0works-slick .slick-num .now-count,
.is-style-pen0works-slick .slick-num .all-count {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.thumbnails {
  margin-top: 56px;
}

.slick-prev,
.slick-next {
  z-index: 2;
}
.slick-prev:before,
.slick-next:before {
  color: #000000;
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .slick-next {
    right: -15px;
  }
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: -15px;
  }
}

.wp-block-image.size-full {
  margin: 0 8px;
}

.slick-slide {
  position: relative;
}

.wp-element-caption {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 4px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}